*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/bg.jpg);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 402px;
    overflow: hidden;
}
.bg-header {
    background: #2F2F2F;
    border: 0;
    width: 100%;
}
.celebration-list a {
    color: #fff;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {

    font-weight: 700;
}
.header {
    
    margin-top: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #999;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: #fff;
    
}
.navbar-brand {
    font-size: 23px;
    font-weight: 700;
}

.allimagepanel.text-center > ul {
    font-weight: 500;
}

.common-area {
    background: #fff none repeat scroll 0 0;
    min-height: 506px;
    border-left:  1px solid #ccc;
     border-right:  1px solid #ccc;
      border-bottom:  1px solid #ccc;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
}
.common-head{
	
	background: rgba(0, 0, 0, 0) url("../img/bhead.gif") repeat-x scroll 0 0;
	 height: 54px;
    line-height: 54px;
    
}
.common-head h3 {
    display: block;
    padding: 14px 0;
}
.form-area {
    padding: 26px 0;
}
.date {
  width: 600px;
  padding: 20px;
  margin: auto;
  background: #ddd;
}

.padd-left{
	padding-left:0;
	
	
}

.padd-right{
	padding-right:0;
	
	
}

.some-element {
    position: relative;
}


   option {
  background: #fff none repeat scroll 0 0;
  border-right: 2px solid #999;
  padding: 5px 14px;
} 


.some-element:before {
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
    content: "\f095";
    position: absolute;
}
/*.padd-left i {
    background: #ccc none repeat scroll 0 0;
    border-top-left-radius: 27px;
    padding: 10px 15px;
    position: absolute;
    right: 5%;
    top: 41%;
}*/

img{
	max-width: 100%;
	height: 185px;
}



.gallery {
    width: 100%;
}
.img-wrapper {
    float: left;
    margin: 6px;
    padding: 0;
    position: relative;
    width: 23.4%;
}
.img-wrapper:hover .wrap-table{
	transform: scale(1);
	transition: 0.9s;
	cursor: zoom-in;
}
.wrap-table {
    left: 0;
    position: absolute;
    top: 0;
}
.wrap-tbl-cell {
    display: table;
    height: 100%;
    width: 100%;
}
.wrap-table {
    background: rgba(41, 41, 41, 0.84) none repeat scroll 0 0;
    height: 100%;
    transform: scale(0);
    width: 100%;
}
.table-bell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.example-image{
	min-width: 100%;
}


.table-bell i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #000;
    padding: 18px;
}

.fa.fa-eye {
  left: 0;
  position: absolute;
  top: 40%;
}
.fa-search{
	right: 0;
	position: absolute;
	top: 40%;
}
.img-wrapper:hover .fa-search{
	right: 51%;
	transition: 0.9s;
}
.img-wrapper:hover .fa-eye{
	left: 51%;
	transition: 0.9s;
}
.wrap-table::before {
    background: black none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 5%;
}
.wrap-table::after {
    background: green none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
}
.img-wrapper:hover .wrap-table::after,.wrap-table::before{
	width: 100%;
	transition: 0.9s;
	z-index: -99;
}

.table-bell a i{
	z-index: 99;
}
.table-bell a i:hover{
	background: #000;
	transition: 0.9s;
	color:#fff;
	cursor: zoom-in;
}
.navpaddless{
    padding:0;
}
.gallery {
    margin-left: 16px;

}
/*.bg-p{*/
    /*background: url("../img/pbg.jpg");*/

/*}*/

/*.row.bg-p {*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*padding: 149px 52px;*/
/*}*/

.footer {
  background: rgba(0, 0, 0, 0) url("../img/ft.gif") repeat-x scroll 0 0;
  clear: both;
  color: #757575;
  font-size: 10px;
  margin-top: 30px;
  overflow: hidden;
  padding: 10px 0 50px;
}
.form-area input {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 0 0 #000;
    font-size: 15px;
    font-weight: 300;
}

.form-area textarea {
    border-radius: 0;
    box-shadow: 0 0 0 #000;
}
.form-area select {
    border-radius: 0;
    box-shadow: 0 0 0 #000;
    font-size: 15px;
    font-weight: 300;
}
.form-area button {
    background: #000 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 8px 30px;
}
.form-area label {
    font-weight: 400;
    letter-spacing: 1px;
}
option {

    border-right: 0 solid red;

}
.example-image {
    border: 1px solid #999;
    padding: 4px;
}
#image {
    border: medium none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #000;
    color: #fff;
}
.login-area{
    min-height: 10px;
}
body{
    height:100%;
}
.login-area h3 {
    padding-left: 9px;
}

.login-table {
    display: table;
    height: 100%;
    width: 100%;
}
.login-wrapper{
    height: 100%;
}
html {
    height: 100%;
}
.login-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.table.table-bordered img {
    height: 77px;
    width: 93px;
}

table{
    margin-top:25px;


}
.table{
    margin-bottom: 4px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #000;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu {
    margin: 0;
    min-width: 192px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}
.gallery {
    margin-left: 15px;

}
ul{
    list-style: none;
    margin: 0;
}


.allimagepanel li {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    margin: 0;
    min-height: 50px;
    padding: 0;
}

.allimagepanel li:first-child {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.border-right-action {
    border-right: 1px solid #999;
    padding: 0;
}
.col-md-4.border-right-action {
    padding: 0;
}
.allimagepanel li {
    padding: 12px 0;
}

.celebration-list {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px 1px #ccc;
    margin: 0;
    padding: 16px 23px;
    text-align: center;
}
.celebration-list a {
    background: #2F2F2F none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: block;
    margin: 1px 0;
    padding: 5px 0;
    text-decoration: none;
}

.celebration-list h3 {
    margin: 0;
    padding: 0 0 11px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {

    color: rgb(255, 255, 255);
    outline: none 0px;
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

    color: #fff;
}

button:hover{
    transition: 0.4s;
}

.celebration-list a {

    color: #999;

}
.celebration-list .active > a {
    background: #F4F4F4;
    color:#000;
}
.allimagepanel.text-center > ul li:first-child {
    font-size: 20px;
}
.alert {
    margin-bottom: 0;
    margin-top: 24px;
}
.form-area select {

    padding: 0 8px;
}
.celebration-list a {
    color: #000;
    background: #d4d4d4;
    font-weight: 400;
}
.celebration-list {

    padding: 13px 6px;

}
.celebration-list h3 {

    font-weight: 700;

    padding: 0 0 11px;
}
h1 {

    font-weight: 700;
}
.logout {
    position: relative;
}
.nav.navbar-nav.navbar-right > li {
    padding-right: 52px;
}
.fa.fa-power-off.fa-2x {
    font-size: 34px;
    position: absolute;
    right: -39%;
    top: 18%;
}
.celebration-list h3 {
    font-weight: 200;

}
.youtube-size {
    margin: 20px 0 10px;
    width: 100%;
}
.youtube-size iframe {
    min-width: 100%;
}
.youtube-size iframe {
    min-width: 100%;
    height: 202px;
}